body{
    background-color: slategrey;
    text-align: center;
    line-height: 100vh;
    margin: 0;
}

button{
    vertical-align: middle;
    width: 80px;
    height: 400px;
    background-color: #fff;
    stroke: black;
    stroke-width: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.b{
    width: 35px;
    height: 200px;
    background-color: #000;
    color: #fff;
}